html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
    padding: 5px;
    color: #666;
    background-color: #ccc;
}

h1 {
    font-size: 14pt;
}

.result {
    border: 1px solid #eee;
    background-color: #eee;
    color: #666;
    padding: 10px;
}

.result .question {
    font-weight: bold;
}

.result .answer {
    margin-top: 5px;
    color: green;
}

dt {
    float: left;
    padding-right: 10px;
}

.info {
    font-size: 10px;
    color: #ccc;
}
