@(result: String = "", expression: String = "", calculateForm: Form[String])

@import helper._

@main("Simple Calculator") {
    <h1>Simple Calculator</h1>

    @if(!result.isEmpty) {
        <div class="result">
            <div class="question">Question: @expression</div>
            <div class="answer">Answer: @result</div>
        </div>
    }

    @form(routes.Application.calculate, args = 'id -> "calculate-form") {
        @inputText(calculateForm("expression"), args = 'size -> 30, 'class -> "expression",
            'placeholder -> "expression")
        <input id="submit" type="submit" value="Calculate" />
    }
}
